[Unit]
Description=LocalGaleraCtlService
After=network.target
[Install]
WantedBy=multi-user.target
[Service]
User=root
Group=root
ExecStart=/bin/bash -c "/usr/bin/galera_new_cluster ; sleep 5 ; /usr/bin/systemctl start mariadb ; "
ExecStop=/bin/bash -c "/usr/bin/systemctl stop mariadb ;"
KillSignal=SIGTERM
SendSIGKILL=no

TimeoutStopSec=150min
TimeoutStartSec=150min

